<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li>
                <a
                    href="/clientes"
                    aria-expanded="false"
                    >
                    <i class="mdi mdi-account"></i>
                    <span class="hide-menu">Clientes</span>
                </a>
              </li>
              <li>
                <a
                    href="/productos"
                    aria-expanded="false"
                    >
                    <i class="mdi mdi-menu"></i>
                    <span class="hide-menu">Productos</span>
                </a>
              </li>
              <li>
                <a
                    href="/facturar"
                    aria-expanded="false"
                    >
                    <i class="mdi mdi-barcode"></i>
                    <span class="hide-menu">Facturar</span>
                </a>

               
              </li>
              <li>
                <a
                href="/reportes"
                aria-expanded="false"
                >
                <i class="mdi mdi-clipboard-text"></i>
                <span class="hide-menu">Reportes</span>
            </a>
              </li>
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
