<div class="row">
    <div class = "col-md-12">
        <h2>Reportes</h2>
    </div>

    <form  [formGroup]="form" (submit)="buscar()">
        <div class = "row justify-content-center">
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>Mes</mat-label>
            <input type = "month" matInput formControlName="month">
          </mat-form-field>
          
    
          <div class = "col-md-12 d-flex justify-content-end">
            <button  mat-button>Filtrar</button>
    
          </div>
        </div>
    
      </form>
</div>
